.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 1px 4px -1px rgba(42, 42, 42, 0.65);
  // margin: 10% 10% 40px 10%;
  padding: 3% 5% 3% 5%;
}

.input_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.info_container {
  margin: 10px 10% 10px 20%;
  text-align: center;
  border-radius: 25px;
  border: 1px solid rgba(100, 100, 107, 0.561);
  box-shadow: 0px 1px 4px -1px rgba(42, 42, 42, 0.65);
  padding: 10px;
  max-width: 60%;

  @media only screen and (max-width: 1000px) {
    max-width: 90%;
    margin: 30px;
  }
}
